Repository irisanalysis/SaaSControlDeck, changes with the owners that .github/CODEOWNERS names for each.
All owners: @irisanalysis/core-team, @irisanalysis/devops-team, @irisanalysis/senior-engineers, @irisanalysis/backend-team, @irisanalysis/frontend-team, @irisanalysis/ui-ux-team, @irisanalysis/ai-team, @irisanalysis/data-team, @irisanalysis/security-team, @irisanalysis/technical-writers, @irisanalysis/sre-team

.github/CODEOWNERS:

# Global code ownership
* @irisanalysis/core-team

# Infrastructure and CI/CD
/.github/ @irisanalysis/devops-team @irisanalysis/senior-engineers
/docker-compose*.yml @irisanalysis/devops-team
/Dockerfile @irisanalysis/devops-team
/**/Dockerfile @irisanalysis/devops-team
/backend/scripts/ @irisanalysis/devops-team @irisanalysis/backend-team

# Frontend code
/frontend/ @irisanalysis/frontend-team @irisanalysis/ui-ux-team
/package.json @irisanalysis/frontend-team @irisanalysis/core-team
/package-lock.json @irisanalysis/frontend-team

# Backend microservices
/backend/ @irisanalysis/backend-team @irisanalysis/core-team
/backend/backend-pro1/ @irisanalysis/backend-team @irisanalysis/ai-team
/backend/backend-pro2/ @irisanalysis/backend-team @irisanalysis/data-team
/backend/**/requirements.txt @irisanalysis/backend-team

# AI and ML components
/frontend/src/ai/ @irisanalysis/ai-team @irisanalysis/frontend-team
/backend/**/ai-service/ @irisanalysis/ai-team @irisanalysis/backend-team

# Database and data services
/backend/**/data-service/ @irisanalysis/data-team @irisanalysis/backend-team
/backend/**/scripts/init-db.sql @irisanalysis/data-team @irisanalysis/backend-team

# Security-sensitive files
/backend/**/shared/security/ @irisanalysis/security-team @irisanalysis/backend-team
/.github/workflows/security-monitoring.yml @irisanalysis/security-team @irisanalysis/devops-team
/**/secrets/ @irisanalysis/security-team @irisanalysis/devops-team

# Documentation
/README.md @irisanalysis/core-team @irisanalysis/technical-writers
/CLAUDE.md @irisanalysis/core-team @irisanalysis/technical-writers
/backend/CLAUDE.md @irisanalysis/backend-team @irisanalysis/technical-writers
/backend/DEPLOYMENT_GUIDE.md @irisanalysis/devops-team @irisanalysis/technical-writers

# Configuration files
/*.json @irisanalysis/core-team
/*.yml @irisanalysis/devops-team
/*.yaml @irisanalysis/devops-team
/frontend/tailwind.config.ts @irisanalysis/frontend-team @irisanalysis/ui-ux-team
/frontend/next.config.ts @irisanalysis/frontend-team @irisanalysis/core-team

# Environment configurations
/.github/environments/ @irisanalysis/devops-team @irisanalysis/security-team @irisanalysis/core-team

# Monitoring and observability
/backend/**/monitoring/ @irisanalysis/devops-team @irisanalysis/sre-team
/.github/workflows/infrastructure-monitoring.yml @irisanalysis/devops-team @irisanalysis/sre-team

🚀 Add comprehensive multi-environment deployment configuration
  .github/workflows/frontend-ci-cd.yml
  .gitignore
  .vercelignore
  DEPLOYMENT_GUIDE.md
  docker-compose.production.yml
  docker-compose.staging.yml
  monitoring/prometheus-production.yml
  monitoring/prometheus-staging.yml
  scripts/backup-production.sh
  scripts/deploy-production.sh
  scripts/deploy-staging.sh
  scripts/disaster-recovery.sh
  scripts/health-check.sh
  scripts/rollback-frontend.sh
  scripts/setup-deployment.sh
  scripts/setup-ssl.sh
  vercel.json
Owners: @irisanalysis/devops-team, @irisanalysis/senior-engineers, @irisanalysis/core-team

🔧 Fix Vercel deployment configuration for monorepo structure
  frontend/next.config.ts
Owners: @irisanalysis/frontend-team, @irisanalysis/core-team

🔧 Fix package-lock.json availability for Vercel deployment
  .gitignore
Owners: @irisanalysis/core-team

🔧 Fix Vercel deployment with updated package-lock.json and install command
  package-lock.json
  vercel.json
Owners: @irisanalysis/core-team

🚀 URGENT: Fix Vercel deployment failure with comprehensive optimizations
  .vercelignore
  VERCEL_DEPLOYMENT_GUIDE.md
  frontend/next.config.ts
  package-lock.json
  package.json
  scripts/verify-build.sh
  vercel.json
Owners: @irisanalysis/core-team, @irisanalysis/frontend-team

🔧 Add build verification script
  scripts/verify-build.sh
Owners: @irisanalysis/core-team

🔧 Fix Vercel deployment configuration errors
  vercel.json
Owners: @irisanalysis/core-team

🚀 CRITICAL FIX: Resolve Vercel deployment module resolution failures
  frontend/next.config.ts
  frontend/tsconfig.json
  package.json
  scripts/verify-deployment.js
  test-imports.mjs
  vercel.json
  verify-deployment.mjs
Owners: @irisanalysis/frontend-team, @irisanalysis/core-team, @irisanalysis/ui-ux-team

🚀 URGENT: Fix Vercel deployment failure with comprehensive optimizations
  DEPLOYMENT_FIX_SUMMARY.md
Owners: @irisanalysis/core-team

🚀 CRITICAL FIX: Resolve Vercel deployment module resolution failure
  frontend/next.config.ts
  frontend/tsconfig.json
Owners: @irisanalysis/frontend-team, @irisanalysis/core-team, @irisanalysis/ui-ux-team

🚀 CRITICAL: Fix Vercel module resolution with comprehensive architecture improvements
  frontend/next.config.ts
  frontend/package.json
  frontend/src/components/dashboard/index.ts
  frontend/src/components/ui/index.ts
  frontend/vercel.json
Owners: @irisanalysis/frontend-team, @irisanalysis/core-team, @irisanalysis/ui-ux-team

🔧 CRITICAL FIX: Switch to relative imports to resolve Vercel module resolution
  frontend/src/app/page-original.tsx
  frontend/src/app/page.tsx
  frontend/src/app/test-page.tsx
  frontend/test-imports.js
Owners: @irisanalysis/frontend-team, @irisanalysis/ui-ux-team

🔧 URGENT: Simplify vercel.json to fix 'nodeVersion' property error
  vercel.json
Owners: @irisanalysis/core-team

🔧 CRITICAL FIX: Remove frontend/vercel.json containing nodeVersion property
  frontend/vercel.json
Owners: @irisanalysis/frontend-team, @irisanalysis/ui-ux-team

🔧 CRITICAL: Fix Vercel monorepo configuration for Next.js detection
  vercel.json
Owners: @irisanalysis/core-team

📚 COMPREHENSIVE: Create complete Vercel deployment troubleshooting documentation
  .docs/DEPLOYMENT_GUIDES_INDEX.md
  .docs/README.md
  .docs/VERCEL_DEPLOYMENT_TROUBLESHOOTING.md
Owners: @irisanalysis/core-team

📁 RESTRUCTURE: Organize CI/CD documentation with improved hierarchy
  .docs/CICD/DEPLOYMENT_GUIDES_INDEX.md
  .docs/CICD/PROJECT_CONFIG_INDEX.md
  .docs/CICD/vercel/README.md
  .docs/CICD/vercel/VERCEL_DEPLOYMENT_TROUBLESHOOTING.md
  .docs/README.md
Owners: @irisanalysis/core-team

📋 COMPREHENSIVE: Create professional README.md with full project documentation
  README.md
Owners: @irisanalysis/core-team, @irisanalysis/technical-writers

📚 FINAL: Complete project organization with comprehensive deployment documentation
  .docs/CICD/CLOUD_SERVER_DEPLOYMENT_GUIDE.md
  .docs/CICD/DEPLOYMENT_GUIDES_INDEX.md
  .docs/PROJECT_RESTRUCTURE_SUMMARY.md
Owners: @irisanalysis/core-team

🚀 MAJOR: Complete CI/CD infrastructure integration and automation
  .docs/CICD/CI_CD_INFRASTRUCTURE_GUIDE.md
  .docs/CICD/CI_CD_INFRASTRUCTURE_IMPLEMENTATION_GUIDE.md
  .env.example
  .github/environments/development.yml
  .github/environments/production.yml
  .github/environments/staging.yml
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .gitignore
  .idx/dev.nix
  CLAUDE.md
  frontend/src/app/api/health/route.ts
  frontend/src/app/api/metrics/route.ts
  frontend/src/app/api/ready/route.ts
  scripts/ci/health-check.sh
  scripts/ci/quick-setup-saascontrol.sh
  scripts/ci/run-tests.sh
  scripts/ci/setup-secrets.sh
  scripts/ci/validate-saascontrol-setup.sh
  scripts/deploy/deploy.sh
Owners: @irisanalysis/core-team, @irisanalysis/devops-team, @irisanalysis/security-team, @irisanalysis/senior-engineers, @irisanalysis/technical-writers, @irisanalysis/frontend-team, @irisanalysis/ui-ux-team

🔧 FIX: Add PostgreSQL collation compatibility and deployment fixes
  scripts/database/DEPLOYMENT_EXECUTION_GUIDE.md
  scripts/database/deploy-via-python.py
  scripts/database/fix-collation-and-deploy.sh
Owners: @irisanalysis/core-team

🚀 HOTFIX: Add reliable database deployment script with correct collation
  scripts/database/deploy-simple-fix.sh
Owners: @irisanalysis/core-team

🔍 TEST: Add comprehensive database verification script
  scripts/database/comprehensive-verification.sh
Owners: @irisanalysis/core-team

📚 DOCS: Complete database deployment documentation
  CLAUDE.md
  docs/DATABASE_DEPLOYMENT_REPORT.md
Owners: @irisanalysis/core-team, @irisanalysis/technical-writers

🎨 UX: Fix sidebar navigation styling and add floating toggle button
  frontend/src/components/layout/header.tsx
  frontend/src/components/layout/nav-main.tsx
  frontend/src/components/layout/nav-projects.tsx
Owners: @irisanalysis/frontend-team, @irisanalysis/ui-ux-team

🎨 COMPLETE: Advanced frontend interface and component system overhaul
  .codex/config.toml
  .idx/dev.nix
  AGENTS.md
  CLAUDE.md
  frontend/src/app/globals.css
  frontend/src/components/ai/ai-help.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/layout/nav-user.tsx
  frontend/src/components/layout/sidebar-config.ts
  frontend/src/components/layout/sidebar-nav.tsx
  frontend/src/components/ui/sidebar.tsx
Owners: @irisanalysis/core-team, @irisanalysis/technical-writers, @irisanalysis/frontend-team, @irisanalysis/ui-ux-team

🐳 Add complete DockerHub CI/CD integration for irisanalysis
  .github/workflows/docker-publish.yml
  .github/workflows/dockerhub-simple.yml
  deploy-from-dockerhub.sh
  docker-compose.dockerhub.yml
  docs/DOCKERHUB_CICD_SETUP.md
  docs/DOCKERHUB_DEPLOYMENT_GUIDE.md
  scripts/deploy-dockerhub.sh
  scripts/prepare-docker-build.sh
  scripts/setup-dockerhub-secrets.sh
  scripts/update-dockerhub-images.sh
Owners: @irisanalysis/devops-team, @irisanalysis/senior-engineers, @irisanalysis/core-team

🔧 Fix DockerHub CI/CD build issues
  .github/workflows/dockerhub-build.yml
  .github/workflows/dockerhub-simple.yml
  deploy-from-dockerhub.sh
  frontend/next.config.ts
Owners: @irisanalysis/devops-team, @irisanalysis/senior-engineers, @irisanalysis/core-team, @irisanalysis/frontend-team

🚀 Complete DockerHub CI/CD solution implementation
  .github/workflows/dockerhub-build.yml
  .github/workflows/dockerhub-optimized.yml
  DOCKERHUB_DEPLOYMENT_GUIDE.md
  docker-compose.dockerhub.yml
  frontend/Dockerfile
  scripts/manual-docker-build.sh
  scripts/verify-deployment.sh
  test-docker-build.sh
Owners: @irisanalysis/devops-team, @irisanalysis/senior-engineers, @irisanalysis/core-team, @irisanalysis/frontend-team, @irisanalysis/ui-ux-team

🔧 Trigger GitHub Actions after billing fix
  .github/workflows/dockerhub-optimized.yml
Owners: @irisanalysis/devops-team, @irisanalysis/senior-engineers
